<form action="/upload" method="POST">
    <p>title</p>
    <input type="text" name="title">
    <p>content</p>
    <textarea name="content"></textarea>
    <button type="submit">submit</button>
</form>